@import './reset';
@import './mixin';

html,
body {
    height: 100%;
    width: 100%;
    min-width: 1366px;
    overflow: auto;
}


body {
    font-size: $font-size;
}

.ivu-col {
    background: #fff;
}

.borderB{width: 100%;height: 30px;border-bottom: 1px solid #444}
.MT20{margin-top: 20px}
.MT5{margin-top: 5px}
.MT10{margin-top: 10px}
.MT15{margin-top: 15px}
.MT18{margin-top: 18px}
.MT30{margin-top: 30px}
.MT50{margin-top: 50px}
.MT25{margin-top: 25px}
.MT35{margin-top: 35px}
.MT20{margin-top: 20px}
.MB20{margin-bottom: 20px}
.MB10{margin-bottom: 10px}
.MB15{margin-bottom: 15px}
.MB5{margin-bottom: 5px}
.ML5{margin-left: 5px }
.ML15{margin-left: 15px }
.ML10{margin-left: 10px }
.ML20{margin-left: 20px }
.ML30{margin-left: 30px }
.ML40{margin-left: 40px}
.ML53{margin-left: 53px }
.MR10{margin-right: 10px}
.MR11{margin-right: 11px}
.MR15{margin-right: 15px}
.MR20{margin-right: 20px}
.MR5{margin-right: 5px}
.MRL5{margin: 0 5px}
.bg4373F3{
  background-color: #3C6FFB !important;
  border-color: #3C6FFB !important;
}
.bgccc{
  background-color: #CCC !important;
  border-color: #CCC !important;
}
.bgCancle{
  background-color: #484E58  !important;
  border-color: #484E58  !important;
}
.bgF9FAFC {
  background:#F9FAFC ;
  .ivu-col{ background:#F9FAFC ;}
}
.btn{
  width: 120px !important;
  height: 40px !important;
  line-height: 20px !important;
  font-size: 14px !important;
  border-radius: 2px
}
.colorRed{color: #EF6464;}
.fontSize12{font-size: 12px}
.fontSize14{font-size: 14px}

.w127{width: 126px !important;overflow: hidden;}
.w200{width: 200px !important;}
.w50{width: 50px !important;overflow: hidden;}
.h100{height: 100px;width: 100%}
.inlineBlock{display: inline-block;}
.pLR20{padding: 0 20px}
.pT50{padding-top: 50px}
.pB44{padding-bottom: 44px}
.pL30{padding-left: 30px}
.pT30{padding-top: 30px}
.pR30{padding-right: 30px}

.ivu-form-item-error-tip {
    position: static;
    padding-top: 0;
    float: left;
    padding-left: 4px;
    line-height: 32px;
    height:32px;
    color: #EF6464
}
.fRight{float: right;}
.cycle .ivu-form-item-error-tip{display: none !important;}
.maxWid{max-width: 1166px}
.createPro{
  .ivu-select-single .ivu-select-selection{height: 38px;line-height: 38px}
  .ivu-input{height: 38px}
  .ivu-select-multiple .ivu-select-input{height: 38px}
  .ivu-form-item-error-tip{height: 38px;line-height: 38px;padding-left: 19px}
}

//侧边栏样式
.layout-menu-left{
  background-color: #252834 !important;
  .ivu-menu-dark{
    background:#252834 !important
  }
  .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
  .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover{background:transparent;}
  .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover{background-color: #252834 !important}
  .ivu-menu-dark.ivu-menu-vertical {
    .ivu-menu-opened{
      background:#20242e !important;
      .ivu-menu-submenu-title{
        background:#20242e !important;
      }
      .ivu-menu{
        .ivu-menu-item{
          &:hover{background:#1c1f27 !important;}
        }
      }
    }
    .ivu-menu-submenu{
      .ivu-menu-item-active{
        background:#20242e !important;
        .menuCircle{background-color: #4373F3;border-color:#4373F3}
      }
    }
  }
  .ivu-menu-vertical {
    .ivu-menu-item-active{
      .ivu-menu-submenu-title {
          &:before {
              content: '';
              width: 5px;
              height: 56px;
              position: absolute;
              background: #3D70FB!important;
              left: 0;
              top: 0;
          }
        }
    }
    .ivu-menu-submenu-title-icon{
      top:35%
    }
    .ivu-menu-submenu-title,.ivu-menu-item{
      height: 56px;
      line-height: 56px;
      position: relative;
      height: 56px;
      line-height: 56px;
      padding: 0 24px;
    }
  }
}

// 表单样式重置


.ivu-input-icon {
    line-height: 36px;
    height: 36px;
}

.ivu-tag {
    magin: 2px 4px 2px 0;
    height: 30px;
    line-height: 30px;

    .ivu-icon-ios-close-empty {
        width: 8px;
    }
}

.ivu-select-input {
    height: 36px;
}

.ivu-select{
border-radius: 2px;
}



.useSelect {
    .ivu-select-selection {
        .ivu-select-selected-value {
            height: 38px;
            line-height: 38px !important;
        }
    }
}

// .select2-selection__choice__remove {
//     float: right;
//     margin-left: 2px;
// }
//
// .select2-dropdown--below {
//     width: 400px !important;
// }
//
// .select2-selection__choice {
//     margin-top: 2px !important;
// }

// .select2-selection__rendered {
//     li {
//         height: 30px;
//         line-height: 30px;
//     }
// }
//
// .select2-container {
//     display:  block !important;
// }

// .select2-selection--single {
//     display: block;
//     display: inline-block;
//     min-height: 36px !important;
//     width: 400px;
//     line-height: 36px !important;
// }
//
// .select2-selection__arrow {
//     height: 36px !important;
// }

// .select2-selection--multiple {
//     display: block;
//     display: inline-block;
//     min-height: 36px !important;
//     width: 400px;
// }
//
// .select2-selection__clear {
//     margin-top: 0 !important;
// }



.ivu-input {
    border-radius: 2px;
     height: 38px;
 }

.ivu-select-single .ivu-select-selection {
    height: 38px;
    border-radius: 2px;
}

.ivu-select-multiple .ivu-select-selection {
    min-height: 38px;
    border-radius: 2px;
}

.ivu-select-multiple .ivu-select-input {
    line-height: 38px;
    height: 36px;
}

.ivu-form-item-content {
    line-height: 36px;
}

.ivu-form-item-label {
    height: 38px;
}

.ivu-form .ivu-form-item-label  {
    line-height: 18px;
}
//单选按钮样式调增
.ivu-radio-checked .ivu-radio-inner{border-color:#B9B9B9 }
.ivu-radio-inner{
    width: 12px;
    height: 12px;
    border: 1px solid #B9B9B9;
    &:after{
      width: 6px;
      height: 6px;
      background-color: #3D70FB;
    }
}
//多选按钮样式调增
.ivu-checkbox-inner{
  width: 18px;
  height: 18px;
  border: 1px solid #B9B9B9;
}
.ivu-checkbox-checked .ivu-checkbox-inner{
  background-color: #fff;
  border-color: #3D70FB;
}
.ivu-checkbox-checked .ivu-checkbox-inner:after{
    border: 2px solid #3D70FB;
    border-top: 0;
    border-left: 0;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    // left: 3px;
}
// 时间框样式统一
.ivu-date-picker-cells span em,.ivu-date-picker-cells-header span,.ivu-date-picker-header{font-size: 12px}
