.chooseTime {
    .chooseTime-box {
        margin-top: 30px;
        width: 1126px;
        padding-left: 20px;
    }

    .pagBtn {
        height: 40px;
        border-radius: 2px;
    }

    .nextPage {
         background: #484E58 !important;
          border-color: #484E58 !important;
          margin-left: 20px;
    }

    .dateTableStatus {
        span {
            &:first-child {
                width: 12px;
                height: 12px;
                margin: 0 10px 0 15px;
                line-height: 12px;
            }

            &:last-child {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }

    .unavailable {
        span {
            &:first-child {
                background: #EDEFF2;
            }

            &:last-child {

            }
        }
    }

    .occupied {
        span {
            &:first-child {
                background: #6A7088;
            }

            &:last-child {

            }
        }
    }

    .reserved {
        span {
            &:first-child {
                background: #A8C8EE;
            }

            &:last-child {

            }
        }
    }

    .delIco {
        width: 20px;
        font-size: 14px;
        color: #999;
        line-height: 26px;
    }

    .dateTable-title {
        background: #f9f9f9;
    }

    .dateTable {
        width: 1106px;
        text-align: center;
        font-size: 12px;
        border: 1px solid #DEE1E5;;

        td {
            border: 1px solid #DEE1E5;;
        }

        .allMoth {
            width: 34px;
        }
    }

    .price {
        margin-top: 10px;
    }

    .tableList {
        margin-top: 30px;

        .item {
            margin-bottom: 14px;
        }

        .title {
            margin-bottom: 20px;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            background: #F9FAFC;
        }

        .priceTotalList {
            span {
                float: left;
                margin-left: 10px;
            }
        }
    }
}
