.details{
	.conBox{
		width: 100%;
		font-size: 12px;
		color: #333;
		.title{
			h1{font-size: 14px;color: #354052;font-weight: normal;display: inline-block;}
			span{font-size: 12px;color:#39f;cursor: pointer;}
		}
		.nextTitle{
			font-size: 12px;
			color: #333;
			span{
				color: #3D70FB;
				padding-right: 15px
			}
		},
		.modul{
			width: 100%;
			overflow: hidden;
			.fontColor{li{color: #333 !important}}
			.messShow{
				width: 100%;
				overflow: hidden;
				display: block;
				li{float: left;color: #7B8497;width: 500px;margin-bottom: 6px}
			}
		}
		
		
		.totalPrice{
			text-align: right;
			width: 100%;
			padding-top: 10px;
			font-size: 14px;
			color: #666;
			margin-top: 15px;
			border-top: 1px solid #E9E9E9;
			span{padding-right: 15px}
			span:last-child{padding-right: 0}
		}
		.tableBox{
			width: 100%;
			overflow: hidden;
			.price{
				float: right;
				margin-top: 10px;
				color: #666;
				span{padding-right: 15px}
				span:last-child{padding-right: 0}
			}
			.chars{width:100%;height: 400px}
		}
		.ivu-collapse{//收缩条的样式
			margin-bottom: 15px;
			border: none;
			background-color: #F9FAFC ;
			.ivu-collapse-item{
				.ivu-collapse-header {
					height: 56px;
					line-height: 56px;
					font-size: 14px;
					color: #333;
					padding-left: 20px;
    				.ivu-icon-arrow-right-b{
    					display: none;
    				}
				}
			}
		}
		.ivu-collapse-content{
			padding: 0
		}
		.hasNoOrder{
			overflow: hidden;
			.contentBox{
			 	width: 100%;
				height: 400px;
		   		.orderMess{
			        position: relative;
			        width: 100%;
			        .noorder{
			          	text-align: center;
			          	width: 100%;
			          	height: 300px;
			          	padding-top:140px;
			          	.noOrderImg{
			            display: inline-block;
				            p{
				              margin-top: 8px;
				              font-size: 14px;
				              color: #ccc;
				            }
			          	}
			        }
		      	}
		    }
		}
	}
	table{
		width: 100%;
		border-collapse:collapse;
		thead{
			background-color: #F9FAFC ;
		}
		td{ 
			padding: 5px 30px;
			border:#DEE1E5 solid 1px;
		}
	}
	
}