.resource-box {
    width: 1126px;
    padding-left: 30px;
    min-height: 750px;

    .size {
        font-size: 12px;
    }
    
     // zhoufeng 收缩条的样式
    .ivu-collapse{
        margin-top: 40px;
        margin-bottom: 15px;
        border: none;
        background-color: #F9FAFC;
        .ivu-collapse-item{
            .ivu-collapse-header{
                height: 56px !important;
                line-height: 56px;
                font-size: 14px;
                color: #333;
                padding-left: 20px;

            }
            .ivu-icon-arrow-right-b{
                display: none;
            }
        }
    }

    .ivu-tag {
        .ivu-icon-ios-close-empty {
            width: 8px;
        }
    }

    .demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
     }
       @keyframes ani-demo-spin {
           from { transform: rotate(0deg);}
           50%  { transform: rotate(180deg);}
           to   { transform: rotate(360deg);}
       }
       .demo-spin-col{
           height: 100px;
           position: relative;
       }

    .labelList {
        margin-right: 26px;
        color: #333333;
        float: left;
        width: auto;
        height: 38px;
        line-height: 38px;


        &:hover {
            color: #39f;
        }

        &.active {
            color: #39f;
        }
    }

     .ivu-select-single {
         .ivu-select-selection {
             height: 38px;
         }
     }

    .searchBtn {
        width: 120px;
        height: 38px;
        background: #3C6FFB;
        border-radius: 2px;
        margin-right: 8px;

        &:hover {
            background: rgba(67,115,243,.8);
        }

        &.active {
            background: #ccc;
        }
    }

    .jump {
        width: 120px;
        height: 40px;
        background: rgba(67,115,243,1);

        &:hover {
            background: rgba(67,115,243,.8);
        }
    }

    .line {
        text-align: center;
        width: 40px;
    }

    .query-ad {
        font-size: 12px;
        line-height: 28px;

        .query-ad-title {
            font-size: 14px;
            color: #333;
            line-height: 22px;
            padding-bottom: 32px;
        }

    }
    .searchInput {
         width: 400px;
    }

    .noRes {
        p {
            text-align: center;
        }
    }

    .result {
        padding-bottom: 20px;

        &.bottom {
            margin-top: 60px;
        }

        .viewAdButton {
            font-size: 12px;
        }

        .title {
            margin-bottom: 20px;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            background: #F9FAFC;
        }

        .paging {
            margin-right: 60px;


            .pages {
                margin-right: 25px;
            }

            .prev {
                margin-right: 14px;
                &.active {
                    color: #ccc;
                }
            }

            .next {
                &.active {
                    color: #ccc;
                }
            }
        }

        .table-list {
            .ad-name {
                margin-right: 0;
            }

            .ad-listName {
                display: inline-block;
                max-width: 280px;
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow: hidden;
                font-size: 12px;
            }

            .item {
                margin-bottom: 18px;
            }

            .item-title {
                line-height: 34px;
            }

            .table-title {
                background: rgba(249,249,249,1);
            }

            .dateTable {
                width: 100%;
                text-align: center;
                font-size: 12px;
                border: 1px solid #DEE1E5;

                td {
                    border: 1px solid #DEE1E5;
                }


                .dateTd {
                    height: 28px;
                    width: 18px;
                    border: 1px solid #DEE1E5;
                }

                .delIco {
                    width: 30px;
                    font-size: 14px;
                    color: #999;
                    line-height: 26px;
                }

                .hasCheckTd {
                    height: 28px;
                    width: 20px;

                    &.default {
                        background: #f4f4f4;
                    }

                    &.select {
                        background: rgba(67,115,243,.5);
                    }

                    &.hasSel {
                        background: rgba(67,115,243,.2);
                    }

                }

                .allMoth {
                    width: 34px;
                }

                .monthBtn {
                    margin-right: 10px;
                    color: #ccc;

                    &.active {
                        color: #39f;
                    }
                }
            }
        }
    }
}
