.listPages{
  .ivu-form{
    background: #F9FAFC;
    padding:50px 0 26px 24px;
    .ivu-form-item{
      width:362px;
      height:38px;
      margin-top:15px 0 0 0;
      display:inline-block;
      .ivu-form-item-label{
        width: 63px;
        height: 38px;
        display: inline-block;
        float: left;
        text-align: right;
        padding-right: 15px;
        font-size: 12px;
        color: #7B8497;
      }
      input{
        width:280px;
        height:38px;
        background: #FFFFFF;
        border: 1px solid #DEE1E5;
        border-radius: 2px;
        font-size: 12px;
        letter-spacing: 0.44px;
        padding-left:8px;
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #7B8497 ; opacity:1; 
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #7B8497 ;opacity:1;
        }
        input:-ms-input-placeholder{
          color: #7B8497 ;opacity:1;
        }
        input::-webkit-input-placeholder{
          color: #7B8497 ;opacity:1;
        }
      }
      Cascader{
        width:268px;
        height:38px;
      }
      .ivu-select{
        width: 280px;
        height:38px;
        .ivu-select-input{
          width:234px;
          border:0;
          padding-left:4px;
        }
      }
      .smallSelect{
        width:88px;
        height:38px;
      }
      .ML5{
        margin-left:5px;
      }
      .ivu-btn{
        height:38px;
        width:120px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.52px;
      }
      .ivu-btn-primary{
        background: #3D70FB;
        border-radius: 2px;
      }
      .ivu-btn-ghost{
        margin-left:30px;
        background: #484E58;
        border-radius: 2px;
      }
    }
  }

  .listTable{
    width: 100%;
    padding: 30px;
    .exportBtn{
      border-radius: 2px;
      padding-left: 12px;
      box-sizing:border-box;
      display: block;
      width: 140px;
      height: 32px;
      border: 1px solid #B6BAC0;
      line-height: 32px;
      font-size: 14px;
      color: #333;
      margin-bottom: 15px;
      float: left;
      cursor: pointer;
      i{font-size: 16px}
      span{
        color: #B6BAC0; 
        padding:0 14px;
      }
    }
    .addProBtn{
      display: inline-block;
      width: 120px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      background-color: #38BC6E;
      border-radius: 2px;
      color: #fff;
      a{  
        display: inline-block;
        width: 100%;height: 100%;
        color: #fff
      }
    }
    .ivu-table-wrapper{
      overflow:hidden;
      border:none;
      .ivu-table{
        th,td{
          max-width:200px;
          min-width:100px;
        }
        thead{
          tr{
            height:56px;
            th{
              border:none;
              span{
                color: #7B8497;
                font-size:14px;
                font-weight:normal;
              }
            }
          }
        }
        .ivu-table-tbody{
          color: #333;
          font-size:12px;
          tr{
            height:56px;
          }
        }
      }
    }
    .ivu-page{
      .ivu-page-item{
        border:none;
        width: 28px;
        height: 28px;
        line-height: 26px
      }
      .ivu-page-options-elevator{height: 28px;margin-top: -2px}
      .ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev {
        border:none;
        width: 28px;
        height: 28px;
        line-height: 26px
      }
      .ivu-page-options-elevator input{
        height: 28px !important;
        width: 48px;
      }
      .ivu-select-selection .ivu-select-selected-value{
        height: 28px;
        line-height: 26px;
      }
      .ivu-select-single .ivu-select-selection {
        height:28px;
        .ivu-select-placeholder,.ivu-select-selected-value{line-height:28px !important}
      }
    }
    
  }
}